@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 600px;
    top: 488px;
    width: 260px;
}

video#filme {
    display: block;
    position: relative;
    left: 88px;
    top: -50px;
    width: 400px;
    height: 400px;
}